# Data
data/
*.mat
*.csv
*.h5
*.hdf5
 
# Model checkpoints
*.pt
*.pth
*.pkl
 
# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
 
# Notebooks
.ipynb_checkpoints/
 
# Environments
.env
*.env
conda-meta/
 
# OS
.DS_Store
Thumbs.db
 
# IDE
.vscode/
.idea/
